{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'nav.html' %}
<div class="aboutus container-fluid">

    <div class="row aboutrow">
        <div class="col-lg-6 ">
            <div class="abouttext">
                <div class="abouttextone  ">

                    <span>
						<h2>Departments</h2>
													<p>GMRL Labs in Tripunithura excels in various health departments <br>
                                                        prioritizing your well-being with precision and care.</p>
											</span>
            </div>
            </div>
        </div>
        <div class="col-lg-6">
        <img  src="{% static '/images/executive-package.jpg' %}" class="attachment-large size-large" alt="Best Lab In Ernakulam" decoding="async" fetchpriority="high">	
    		</div>
    </div>
</div>

<section class="departments">
    <div class=" container">
        <div class=" row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <span>
                    <h4>Pathology</h4>
                    
    <p>Embark on a journey of diagnostic precision with GMRL Laboratories’ Pathology Department. Our cutting-edge technology and expert pathologists ensure accurate and timely results, prioritizing your health and well-being. From routine tests to specialized analyses, trust us for excellence in pathology services.</p>
                </span>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12"><img width="300" height="288" src="{% static '/images/banner-02.jpg' %}" alt=""></div>
          </div>
        <div class=" row">
           
            <div class="col-lg-4 col-md-12 col-sm-12"><img width="300" height="288" src="{% static '/images/package3.jpg' %}" alt=""></div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <span>
                    <h4>Biochemistry</h4>
                    
                    <p>Explore the realm of biochemical insights at GMRL Laboratories. Our Biochemistry Department combines advanced technology and expert analysis to provide comprehensive assessments, contributing to your overall health and well-being. From metabolic screenings to specialized tests, we’re dedicated to delivering precise and timely results.</p>
                </span>
            </div>
          </div>
          <div class=" row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <span>
                    <h4>Microbiology</h4>
                    
    <p>Dive into the world of microbial analysis with GMRL Laboratories’ Microbiology Department. Our state-of-the-art facilities and skilled microbiologists ensure thorough and accurate assessments, playing a crucial role in your health journey. From infectious disease screenings to specialized microbiological tests, trust us for meticulous and reliable results</p>
                </span>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12"><img width="300" height="288" src="{% static '/images/package5.jpg' %}" alt=""></div>
          </div>
          <div class=" row">
           
            <div class="col-lg-4 col-md-12 col-sm-12"><img width="300" height="288" src="{% static '/images/package2.jpg' %}" alt=""></div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <span>
                    <h4>Serology</h4>
                    
                    <p>best labs in vadakkekotta’s Experience meticulous serological testing at GMRL Laboratories. Our Serology Department combines advanced techniques with expert analysis to deliver accurate and timely results, contributing to a comprehensive understanding of your health profile. Trust us for reliable serological assessments tailored to your specific needs.</p>
                </span>
            </div>
          </div>
          <div class=" row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <span>
                    <h4>Immunology</h4>
                    
    <p>Best labs in Chambakkara provide Dive into the realm of immune system analysis with GMRL Laboratories’ Immunology Department. Our advanced technology and skilled immunologists work in tandem to provide precise assessments, offering valuable insights into your immune health. From routine screenings to specialized immunological tests, trust us for accurate and comprehensive results on your path to well-being</p>
                </span>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12"><img width="300" height="288" src="{% static '/images/package4.jpg' %}" alt=""></div>
          </div>
          <div class=" row">
           
            <div class="col-lg-4 col-md-12 col-sm-12"><img width="300" height="288" src="{% static '/images/executive-package.jpg' %}" alt=""></div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <span>
                    <h4>Radiology</h4>
                    
                    <p>Best lab in Ernakulam, GMRL Laboratories’ Radiology Department. Our state-of-the-art equipment and skilled radiologists ensure accurate diagnostics, offering a detailed perspective on your health. From X-rays to advanced imaging modalities, trust us for comprehensive and precise radiological assessments tailored to your healthcare needs..</p>
                </span>
            </div>
          </div>
          <div class=" row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <span>
                    <h4>Molecular Biology</h4>
                    
    <p>Best Labs in Kochi Provides a Dive into the intricate world of genetic analysis with GMRL Laboratories‘ Molecular Biology Department. Utilizing advanced molecular techniques, our expert scientists provide precise assessments, unraveling insights into your genetic makeup. Trust us for comprehensive molecular diagnostics, contributing to a deeper understanding of your health profile and personalized care</p>
                </span>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12"><img width="300" height="288" src="{% static '/images/banner-02.jpg' %}" alt=""></div>
          </div>
    </div>

</section>
{% endblock %}