{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'nav.html' %}
<div class="aboutus container-fluid">

    <div class="row aboutrow">
        <div class="col-lg-6 ">
            <div class="abouttext">
                <div class="abouttextone  ">

                    <span>
						<h2>Packages</h2>
													<p>Explore affordable Health Check Up packages at GMRL Labs, Tripunithura, <br>
ensuring precision and well-being with advanced analyzers.</p>
											</span>
            </div>
            </div>
        </div>
        <div class="col-lg-6">
        <img  src="{% static '/images/banner2.jpg' %}" class="attachment-large size-large" alt="Best Lab In Ernakulam" decoding="async" fetchpriority="high">	
    		</div>
    </div>
</div>

<section class="healthpackage">
    <div class=" container">
        <div class=" row">
           
            {% for i in package %}
            <div class="col-lg-4 col-md-4 col-sm-6">

                <a href="{% url 'main:ourpackages' i.id %}" class="healthpack">
                    <span>
                        <div class="card healthcard">
                            <div class="link ">
                                <h5><font>From: <i class="fas fa-rupee-sign"></i> {{i.price}}</font></h5>
                                <i class='bx bx-link'></i>
                                <img src="{{i.image.url}}" alt="Pathology" />
                            </div>
                            <div class="card-body healthcardbody">
                                <h6>{{i.name}}</h6>
                                <i class='bx bx-chevron-right ms-auto'></i>
                            </div>
                        </div>
    
                    </span>
                </a>
            </div>
            {% endfor %}
         

        </div>
    </div>

</section>
{% endblock %}