{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'nav.html' %}
<div class="aboutus container-fluid">

    <div class="row aboutrow">
        <div class="col-lg-6 ">
            <div class="abouttext">
                <div class="abouttextone  ">

                    <span>
                        <h2>Tests</h2>
                        <p>Empower your wellness journey with comprehensive health assessments and diagnostic <br>
                            tests for personalized care on our Tests page.</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="{% static '/images/banner-01.jpg' %}" class="attachment-large size-large"
                alt="Best Lab In Ernakulam" decoding="async" fetchpriority="high">
        </div>
    </div>
</div>
<section class="tests">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="testlist ">
                    <h4>HAEMATOLOGY</h4>
                    <h6 class="wp-block-heading">COMPLETE BLOOD COUNT (CBC)</h6>
                    <ul>
                        <li>Hb</li>
                        <li>TC</li>
                        <li>DC</li>
                        <li>ESR</li>
                        <li>Platelet Count</li>
                        <li>AEC</li>
                        <li>Retics Peripheral Blood Film (PBF)</li>
                        <li>Malarial Parasite (MP)</li>
                        <li>MF</li>
                        <li>LE Cells</li>
                        <li>Group Rh</li>
                        <li>Mantoux</li>
                        <li>BT</li>
                        <li>CT</li>
                        <li>PTINR</li>
                        <li>APTT</li>
                        <li>PT Index</li>
                        <li>Coagulation Profile</li>
                        <li>ICT</li>
                        <li>DC</li>
                        <li>Lupus Anticoagulants</li>
                        <li>Hb Electrophoresis</li>
                        <li>Protein Electrophoresis</li>
                    </ul>

                    <h4>URINE</h4>
                    <ul>
                        <li>Urine Complete Examination</li>
                        <li>Albumin</li>
                        <li>Sugar</li>
                        <li>ME</li>
                        <li>PREGNANCY TEST</li>
                        <li>Acetone/ PH/ Specific Gravity</li>
                        <li>Bile Salt</li>
                        <li>Bile Pigment</li>
                        <li>Protein (24Hrs.)</li>
                        <li>Urobilinogen</li>
                        <li>Creatinine Clearance (24 Hrs.)</li>
                        <li>Protein Creatinine Ratio (Spot urine)</li>
                        <li>Bence Jones Protein</li>
                        <li>VMA (24Hrs.)</li>
                    </ul>
                    <h4>STOOL</h4>
                    <ul>
                        <li>Stool Routine examination</li>
                        <li>PH</li>
                        <li>Occult Blood</li>
                        <li>Reducing Substance</li>
                    </ul>
                    <h4>SEMEN ANALYSIS</h4>
                    <ul>
                        <li>Detailed Semen Examination</li>
                        <li>Semen Fructose</li>
                    </ul>

                    <h4>MICROBIOLOGY</h4>
                    <h6>CULTURE AND SENSITIVITY</h6>
                    <ul>
                        <li>Urine</li>
                       <li>Blood</li>
                      <li>Stool</li>
                      <li>Sputum</li>
                       <li>Conj-Swab</li>
                      <li>Pus</li>
                       <li>Throat Swab</li>
                       <li>Semen</li>
                       <li>Gramsstain</li>
                     <li>Scraping for Fungus</li>
                       <li>AFB Culture</li>
                       <li>AFB Stain</li>
                     <li>Fungal Culture</li>
                        </ul>


                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="testlist ">
                <h4>BIO CHEMISTRY</h4>
                <h6 class="wp-block-heading">DIABETIC PANEL</h6>
                <ul>
                    <li>Fasting</li>
                   <li>PPBS</li>
                   <li>RANDOM</li>
                    <li>GTT-F 100gm(lhr/2hr/3hr)</li>
                     <li>GTT-F 75 gm ( 1/2 hr/ lhr/ V/2 hr/ 2hr)</li>
                    <li>Glucose Challenge test (GCT) lhr.50gm glu</li>  
                   <li>Glucose Challenge test (GCT) 2hr.75gm glu</li>            
                   <li>HBA1C (GLYCOSILATED Hb)</li>
                  <li>Microalbuminuria</li>
                  <li>Insulin</li>
                 <li>Microalbumin to Creatinine Ratio</li>
                    </ul>
                    <h6 class="wp-block-heading">LIPID PROFILE</h6>
                    <ul>
                        <li>Cholesterol</li>
                        <li>Triglycerides</li>
                       <li>HDL</li>
                        <li>LDL</li>
                        </ul>
                        <h6 class="wp-block-heading">LIVER FUNCTION TEST (LFT)</h6>
                        <ul>
                            <li>Bilirubin</li>
                          <li>Total</li>
                           <li>Direct</li>
                           <li>SGOT</li>
                            <li>SGPT</li>
                            <li>Alkaline Phosphatase</li>
                            <li>Protein</li>
                            <li>Albumin</li>
                            <li>Globulin</li>
                            </ul>
                            <h6 class="wp-block-heading">SERUM ELECTROLYTES</h6>
                            <ul>
                                <li>Sodium</li>
                               <li>Pottasium</li>
                                <li>Chloride</li>
                                <li>Bicarbonate</li>
                                </ul>
                                <h6 class="wp-block-heading">KIDNEY FUNCTIONS</h6>
                                <ul>
                                    <li>Urea</li>
                                  <li>Creatinine</li>
                                   <li>Uric Acid</li>
                                    </ul>
                                    <h6 class="wp-block-heading">CARDIAC ENZYMES</h6>
                                    <ul>
                                        <li>CK</li>
                                       <li>CK-MB</li>
                                       <li>LDH</li>
                                        <li>Troponin 1</li>
                                        </ul>
                                        <h6 class="wp-block-heading">OTHERS</h6>
                                        <ul>
                                            <li>Calcium</li>
                                           <li>Phosphorous</li>
                                           <li>Magnesium</li>
                                          <li>Ferritin</li>
                                         <li>lron</li>
                                          <li>TIBC</li>
                                         <li>Gamma GT</li>
                                         <li>Lipase</li>
                                        <li>Amylase</li>                                    
                                         <li>Ammonia</li>
                                           <li>Vit D</li>
                                          <li>Vit B12</li>
                                           <li>Ceruloplasmin</li>
                                           <li>Lithium</li>
                                          <li>IL-6</li>
                                          <li>Direct LDL</li>
                                            </ul>
            </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="testlist ">
                    <h6>TORCH PANEL</h6>
                    <ul>
                        <li>Toxoplasma</li>
                      <li>Rubella</li>
                       <li>CMV</li>
                      <li>HSV I &amp;-Il</li>
                      <li>HSVI</li>
                     <li>HSVII</li>
                        </ul>
                        <h6 class="wp-block-heading">HEPATITIS PANEL</h6>
                        <ul>
                            <li>HBsAg (ELISA)</li>
                         <li>HBsAg(Card)</li>                           
                            <li>AntiHCV (ELISA)</li>
                           <li>Anti HCV(Card)</li>
                            <li>Anti HAV IgM</li>
                           <li>Anti HAV Igg</li>
                            <li>AntiHbs Total</li>
                            <li>AntiHEV IgM</li>
                           <li>AntiHbe Total</li>
                            <li>Hbe Ag</li>
                           <li>AntiHbe Total</li>
                          <li>Anti Hbc IgM</li>
                            </ul>
                            <h6 class="wp-block-heading">TUMOUR MARKERS</h6>
                            <ul>
                                <li>CEA</li>
                               <li>AFP</li>
                               <li>CA 19.9</li>
                               <li>CA 125</li>
                               <li>CA 15.3</li>
                                <li>PSA</li>
                               <li>Free PSA</li>
                                <li>Beta HCG</li>
                                </ul>
                                <h6 class="wp-block-heading">HORMONES</h6>
                                <ul>
                                    <li>T3</li>
                                  <li>T4</li>
                                  <li>TSH</li>
                                   <li>Free T3</li>
                                   <li>ATG</li>
                                   <li>AMA</li>
                                   <li>PTH</li>
                                 <li>Free T4</li>
                                   <li>JAMH</li>
                                   <li>AntiCCP Estradiol (E2)</li>
                                   <li>LHFSH</li>
                                  <li>Testosterone</li>
                                   <li>Progesterone</li>
                                    <li>DHEA-S</li>
                                    <li>Cortisol</li>
                                   <li>Anti dS DNA</li>
                                   <li>C3</li>
                                   <li>C4</li>
                                    <li>Prolactin DHEA</li>
                                    <li>Free Testosterone</li>
                                    <li>PCOD Profile</li>
                                   <li>Anti phospholipid IgG, IgM</li>
                                    <li>Anti Cardolipin Antibodies IgG, IgM</li>
                                   <li>Anti Sperm Anti Body (ASAB)</li>
                                  <li>Total IgE</li>
                                   <li>Immunoglobulin IgA, IgG, IgM</li>
                                    <li>Thyroglobulin</li>
                                    <li>Cystatin-C</li>
                                   <li>Dual Test (gestation below 13 weeks)</li>
                                   <li>Triple Marker (gestation 14-20 weeks)</li>
                                   <li>Quadruple Test (gestation 14-22 weeks)</li>
                                   <li>TBPCR (Blood, Urine, Sputum)</li>
                                    <li>TB Gold</li>
                                  <li>ANAIFA</li>
                                   <li>ANA Profile</li>
                                    </ul>
                                    <h6 class="wp-block-heading">ALLERGY PANEL</h6>
                                    <ul>
                                        <li>ANCA-IFA</li>
                                        <li>Food Allergens panel (40)</li>
                                      <li>Food Allergens panel (20)</li>
                                      <li>Inhalation Allergens Panel (33)</li>
                                      <li>Inhalation Allergens Panel (20)</li>
                                      <li>Food And Inhalation paediatric</li>
                                        </ul>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}